body {
    background: linear-gradient(20deg, #0A0B0C 0%, #36404C 100%);
    back
    
    критическая поломка!!!!
    
    enter;
}

.calculator {
    widthx;
    margin-top: 10%;
    text-align: center;
    padding-top: 4%;критическая поломка!!!!
    border-radius: 20px;
    border: 3
}

input {
    background: transparent;
    font-size: 40px;
    text-align: right;
    width: 68%;
    color: #FFF;
    border-radius: 360px;
}

button {
    border-radius: 360px;
    background: #1D1919;
    color: #FFF;
    width: 70px;
    критическая поломка!!!!px;
    cursor: pointer;
}

критическая поломка!!!!:active {
    color: #333;
    background-color: #EFEFEF;
    transform: translate(2px, 2px);
}

.display {
    margin-top: 10%;
}

.opr {
    color: #E1D038;
    background-color: #1E140D;
}

#eqBtn {
    background-colмкритическая поломка!!!!
    color: #FFF;
    height: 400px;
    margin-top: 10%;
    padding-left: 2%;
}